.backgroundImage {
    background: no-repeat url("../assets/background-image.jpeg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.backgroundImage2 {
    background: no-repeat url("../assets/background-image-2.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

.navbar-nav {
    width: 100vw;
    height: 100px;
    font-size: 25px;
}

.navbar-bg {
    background-image: url("../assets/nav-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 50px;
    height: 101px
}

.nav-item {
    padding: 30px;
}

.active::before {
    content: "";
    position: absolute;
    top: 150px;
    width: 110px;
    height: 110px;
    background-image: url("../assets/nav-feather.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.mainHeader {
    margin: 0 auto 0 425px;
    width: 60%;
    position: fixed;
    z-index: 20;
}

body {
    padding: 0;
    margin: 0;
}

.trailerImage {
    width: 600px;
    height: 600px;
    position: absolute;
    right: 325px;
    bottom: 200px;
}

.trailerImage img {
    object-fit: cover;
    display: block;
    height: 100%;
}

.boxArtImage {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 250px;
    bottom: 200px;
}

.boxArtImage img {
    object-fit: cover;
    display: block;
    height: 100%;
}

.boxArtButton {
    display: block;
    width: 296px;
    height: 35px;
    bottom: 400px;
    background: no-repeat url("../assets/background-button.png");
    background-size: contain;
}

.boxArtHover:hover, .trailerHover:hover{
    width: 425px;
    height: 50px;
    background-size: cover;
}

.boxArtHover img:hover, .trailerHover img:hover {
    width: 400px;
}

.trailerButton {
    display: block;
    width: 296px;
    height: 35px;
    bottom: 300px;
    left: 500px;
    background: no-repeat url("../assets/background-button.png");
    background-size: contain;
}

.width-container-image {
    position: absolute;
    display: block;
    width: 288px;
    height: 34.063px;
    object-fit: contain;
    margin-right: 50px;
    top: 250px;
    right: 325px;
}

.width-container-image-trailer {
    position: absolute;
    display: block;
    width: 288px;
    height: 34.063px;
    object-fit: contain;
    margin-right: 50px;
    top: 325px;
    left: 450px;
}

.headerBackground {
    background-image: url("../assets/about-background.png");
    background-size: 100% 100%;
    text-align: center;
    font-size: 50px;
}

.aboutText {
    text-align: center;
    line-height: 50px;
}
.aboutBackground {
    background-image: url("../assets/about-background.png");
    background-size: 100% 100%;
    bottom: 200px;
    right: 800px;
    width: 900px;
    height: 692px;
    padding: 80px 60px;
    position: absolute; 
}
.treeUp {
    background-image: url("../assets/tree-up.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 50;
    width: 100%;
    height: 500px;
    background-position: top;
    position: absolute;
    top: 0px;
}
/* .treeDown {
    background-image: url("../assets/tree-down.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 50;
    width: 100%;
    height: 400px;
    background-position: bottom;
    position: absolute;
    bottom: -500px;
} */